.k-pager-wrap {
    display: flex;
    justify-content: center;
    width: 100%;
}

.k-pager-numbers .k-link {
    min-width: 40px; /* Adjust based on your design */
    text-align: center;
}

.k-grid-pager .k-pager-numbers {
    margin: 0 auto;
}

label{
    font-weight: 600;
}
